{% extends 'main/layout.html' %}

{% block title %}About us{% endblock %}

{% block content %}
   <div class="features">
      <h1>About us</h1>
      <p>Бұл ҰБТ-ға дайындалушыларға арналған топ.

Біз сенің дайындығыңның барынша тиімді болғанын қалаймыз. Өз қызығушылықтарың мен жеке өміріңе зардабы тиместен ұпайларыңды тұрақты жоғарылатып отырғаның керек.

Мұнда сен тиімді дайындық туралы мақалалар, ҰБТ-ны сәтті тапсырушылар оқиғасы, лайфхак, вебинарларға қатысу туралы және біз сен үшін ойлап табатын тағы басқа жаңалықтарды оқып отыратын боласың.

Егер ҰБТ-ға дайындығыңды түпкілікті өзгертуге дайын болсаң ғана мұнда қосыл.

Парақша әкімшілігіне ашық түрде бағытталған сын, СПАМ, қорлау, дөрекі сөздер, ұлтаралық және дінаралық келіспеушілік тудыру,әкімшіліктің жазбаша түрдегі рұқсатынсыз парақша материалдарын көшіру тікелей БАН-мен жазаланады. Сондай-ақ жарнама түріндегі аватарка СПАМ ретінде қабылданады.

Егер мұнда жарияланатын жазбалар саған ұнамаса, сенің үнсіз шығып кете беруге толық құқығың бар. Егер парақшаның ілгері басуына көмектесер идеялар туындаса, әкімшілерге жеке хат жолдауыңа болады.</p>

  </div>
{% endblock %}
