{% extends 'main/layout.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
  <div class="features">
      <h1 style="margin-top: -30px; font-size: 29px; color:#D0D3D4 ; margin-bottom: 50px;">Сәуір айында өтетін курстарға жазылу жүруде!</h1>
     <img src="static/main/img/neiro.jpg" alt="logo" class="mai" style="width: 40%; margin-left: -150px">
      <p style="float: right; margin-left:-100px; font-size: 17px; color: #D0D3D4 ; margin-right: 25px; margin-top: 50px; width: 500px">
Жазылу 2 cәуір, 22:00-де аяқталады. Орын саны шектеулі.
Сабаққа уақытында қатыса алмай қалсаңыз немесе білімді бекіту үшін қайталап көргіңіз келсе, сабақтың қайта
          лауын көруге болады. Курстың басталу уақытын, өтетін күндерін жазылған оқушыларға жазылу аяқталған соң
          айтамыз.
          Сабақтардың басталу уақыты — 3-4 сәуір.

Курсқа төлем жасап, жазылған оқушы мына шарттармен 100% келіседі. Әйтпесе курсқа жазыла алмайды


</p>
      <hr>
          <h4 style="margin-top:70px">Келесі пәндерден онлайн курстар өтеді:</h4>
          <p style=" text-align: none; font-size: 20px; width: 600px">

              •«Нейро Математикалық сауаттылық» курсы - 9 900 тг<br>

          •«Нейро Қазақстан тарихы» курсы - 9 900 тг<br>

          •«Нейроматематика» курсы - 14 900 тг<br>

          •«Нейрофизика 1» (Жалпы физика) курсы - 9 900 тг<br>

          •«Нейро Ағылшын» (Ағылшын тілі ҰБТ) курсы - 9 900 тг<br>

          •«Нейрогеография» (География ҰБТ) курсы - 9 900 тг</p>

  </div>
{% endblock %}